body {
    margin: auto;
    text-align: center;
}

button {
    font-size: 20px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    background-color: rgb(67, 187, 177);
    border: 1px solid #000000;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-out;
    box-shadow: 3px 5px 10px rgb(12, 71, 82);
}

main {
    margin: auto;
    flex-wrap: wrap;
}

.choix {
    display: flex;
    justify-content: center;
}

#choixJoueur {
    color:blue;
}

#choixRobot {
    color:red;
}

#resultat {
    color: green;
}

.score {
    display: flex;
    justify-content: center;
}

p {
    padding: 20px;
    font-size: 20px;
}