body {
    margin: auto;
    text-align: center;
}

button {
    font-size: 20px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    margin: auto;
    flex-wrap: wrap;
}

p, div {
    padding: 20px;
    font-size: 20px;
}